# PostgreSQL ayarları
POSTGRES_USER=appuser
POSTGRES_PASSWORD=21
POSTGRES_DB=appdb
POSTGRES_PORT=5432

ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=appdb;Username=appuser;Password=degistir_beni